
{% extends auth_base|default:"base.html" %}

{% load ng_utils %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form" class="form-horizontal" action="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}" method="POST">
        {% csrf_token %}
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">Please login</h3>
                </div>

                <div class="panel-body">

                    <!-- username -->
                    {% include 'fields/inline.html' with field=form.username label_class='col-sm-4 col-lg-3' input_class='col-sm-8 col-lg-9' %}

                    <!-- password -->
                    {% with field=form.password %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label class="control-label col-sm-4 col-lg-3 {{ field|required }}" for="{{ field.auto_id }}">{{ field.label }}</label>

                        <div class="col-sm-8 col-lg-9">
                            {{ field|add_class:"form-control"  }}
                            {% if field.help_text %}<span class="help-block">{{ field.help_text|safe }}</span>{% endif %}
                            {% for error in field.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
                            <span class="help-block"><small><a href="{% url 'password_reset' %}">Forget your password?</a></small></span>
                        </div>
                    </div>
                    {% endwith %}

                    <!-- other errors -->
                    {% if form.non_field_errors %}
                    <div class='form-group'>
                        <div class="col-sm-8 col-lg-9 col-sm-offset-4 col-lg-offset-3">
                            {% for error in form.non_field_errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="panel-footer text-right">
                    <a href="/" class="btn btn-default">Cancel</a>
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
$(document).ready(function () {
    $('#id_username').focus();
});
</script>
{% endblock %}
