
{% extends auth_base|default:"base.html" %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <p class="lead">{{ title }}</p>
                <p>You used password reset.</p>
                <p>It's super effective! Check your email for a link with which to reset your password.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
